.tab {
    /* overflow: hidden; */
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */

    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 201);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    transition: 0.3s;
    font-size: 15px;
    color: var(--light-grey);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tab button class */
.tab button.active {
    background-color: var(--blue);
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; */
}



/* Add some basic styling */
body {
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    padding: 0;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #0a66c2;
}


:root {
    --blue: #0a66c2;
    --grey: rgb(163, 163, 163);
    --light-grey: #00000099;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


p {
    text-align: justify;
    margin: 5px;
    font-size: 15px;
}

h4 {
    margin: 5px;
    color: var(--light-grey);
}

.grey-color {
    color: var(--light-grey);
}

.blue-color {
    color: var(--blue)
}

h1 {
    margin: 10px;
    text-align: center;
    color: var(--blue);
}

.tag {
    background-color: var(--blue);
    color: white;
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
}

/* Create a container for the bio and picture */
.container {
    width: 80%;
    margin: 20px auto 60px auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 201);
}

/* Style the columns */
.column {
    float: left;
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.links {
    text-decoration: none !important;
    color: #00000099;

    /* margin: 10px; */
    padding: 9px 6px 3px 6px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgb(163, 163, 163);
}

.links:hover {
    border: 1px solid var(--blue);
}


/* Container for project boxes */
.sec-container {
    max-width: 95%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for individual project boxes */
.box {
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgb(163, 163, 163);
}

.width {
    width: 95% !important;
}

p {
    text-align: left;
    color: var(--light-grey);

}

.link {
    text-decoration: none !important;
    color: #00000099;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgb(163, 163, 163);
    font-size: 12px;
}

.link:hover {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}

.box:hover {
    border: 1px solid var(--blue);


}

.button {
    color: #00000099;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    /* border-radius: 6px; */
    border: 1px solid rgb(163, 163, 163);
    font-size: 12px;
    background-color: white;
    margin: 10px;
}

.button:hover {
    background-color: var(--blue);
    color: white;
    border: var(--blue);
}

.size {
    width: 100%;

}

.inline {
    display: inline;
    padding: 4px;
    line-height: 2;
    text-align: left;
}

li {
    margin-bottom: 5px;
    color: var(--light-grey);
    font-size: 15px;
}

.img {
    border-radius: 8px;
    border: 0.5em solid var(--blue);
    /* border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1; */
}

.education-box {
    position: relative;
    transition: all 0.3s ease;
    cursor: default;
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-container {
    margin-left: auto;
    /* This pushes the arrow to the right */
}

.arrow {
    cursor: pointer !important;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.education-box:hover .arrow {
    opacity: 1;
}

.education-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.education-box.active .education-details {
    max-height: 500px;
    /* Adjust this value based on your content */
}

.education-box.active .arrow {
    transform: rotate(180deg);
}

.additional-info {
    display: none;
}

.education-box.active .additional-info {
    display: block;
}

.logo-container {
    margin-right: 10px;
}

.logo-box {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.university-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.uppa-logo {
    background-image: url('https://github.com/zain-ramzan/zain-ramzan.github.io/blob/main/Images/uppa-logo.png?raw=true');
}

.must-logo {
    background-image: url('https://github.com/zain-ramzan/zain-ramzan.github.io/blob/main/Images/must-logo.png?raw=true');
}

.uet-logo {
    background-image: url('https://github.com/zain-ramzan/zain-ramzan.github.io/blob/main/Images/uet-logo.png?raw=true')
}
.bio{
    width: 35%; float: right;
}

/* Add some responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .box {
        width: 95%;
    }

    .column {
        width: 100%;
        font-size: 13px
    }

    .tab {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    .tab button {
        font-size: 14px;
    }

    .education-box {
        position: static;
    }
}